.icon-btns {
  display: grid;
  grid-gap: 0.9rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin: 0;
  padding: 0;
  overflow: visible;
}

.icon-btn {
  background-color: transparent;
  outline: none;
  position: relative;
  width: 3.6rem;
  height: 3.6rem;
  perspective: 24em;
  transform-style: preserve-3d;
  -webkit-tap-highlight-color: transparent;
  border: none;
  cursor: pointer;
}

.icon-btn__back,
.icon-btn__front,
.icon-btn__label {
  transition:
    opacity 0.25s cubic-bezier(0.83, 0, 0.17, 1),
    transform 0.25s cubic-bezier(0.83, 0, 0.17, 1);
}

.icon-btn__back,
.icon-btn__front {
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.icon-btn__back {
  box-shadow: 0.45em -0.45em 0.75em hsla(245, 40%, 5%, 0.45);
  display: block;
  transform: rotate(12deg);
  transform-origin: 100% 100%;
  will-change: transform;
}

.icon-btn__front {
  background-color: hsla(0, 0%, 100%, 0.12);
  box-shadow: 0 0 0 0.1em hsla(0, 0%, 100%, 0.24) inset;
  backdrop-filter: blur(0.6em);
  -webkit-backdrop-filter: blur(0.6em);
  display: flex;
  transform-origin: 80% 50%;
  will-change: transform;
}

.icon-btn__icon {
  margin: auto;
  width: 1.15rem;
  height: 1.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.icon-btn__icon svg {
  width: 100%;
  height: 100%;
}

.icon-btn__label {
  font-size: 0.68rem;
  white-space: nowrap;
  text-align: center;
  line-height: 2;
  opacity: 0;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  transform: translateY(0);
  color: rgba(255, 255, 255, 0.85);
}

.icon-btn:focus-visible .icon-btn__back,
.icon-btn:hover .icon-btn__back {
  transform: rotate(22deg) translate3d(-0.35em, -0.35em, 0.45em);
}

.icon-btn:focus-visible .icon-btn__front,
.icon-btn:hover .icon-btn__front {
  transform: translate3d(0, 0, 1.1em);
}

.icon-btn:focus-visible .icon-btn__label,
.icon-btn:hover .icon-btn__label {
  opacity: 1;
  transform: translateY(12%);
}

@media (max-width: 1199px) {
  .icon-btn__label {
    display: none;
  }
}
