@import "tailwindcss";
@plugin "daisyui";
@source "./**/*.{ts,tsx,html}";

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: 'Vazirmatn', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

